{% extends 'base/common.html' %}
{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="d-flex">
                <div class="d-inline p-2 w-50">
                    <img src="{{ profile.picture }}"
                         class="w-50 rounded mx-auto d-block" alt="description">
                </div>
                <div class="d-inline p-2 w-50">
                    <div class="d-flex flex-column">
                        <h5><u>Name:</u><p>{{ profile.first_name }} {{ profile.last_name }}</p> </h5>
                        <h5><u>Birthdate:</u><p>{{ profile.birth_date }}</p> </h5>
                        <h5><u>Email:</u><p> {{ user.email }}</p></h5>
                        <h5><u>Gender:</u><p>{{ profile.gender }}</p> </h5>
                        <h5><u>Description:</u><p>{{ profile.description }}</p></h5>
                    </div>
                    <p class="mt-2">Total Images: {{ count_images }}</p>
                    <p class="mt-2">Total Likes: {{ likes }}</p>
                    <a href="{% url 'profile edit' user.id %}" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="text-center">My Pets</h2>
    <div class="container mb-4">
        <div class="d-flex justify-content-start mb-5">
            <!-- Info for First Pet -->
            {% for p in profile.pet_set.all %}
                <div style="width: 18rem;">
                    <h5>{{ p.name }}</h5>
                    <p class="mt-2">Age: {{ p.age }}</p>
                    <a href="{% url 'edit pet' p.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete pet' p.id %}" class="btn btn-danger">Delete</a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}